<p *ngIf="message !== undefined">
  <ngb-alert [type]="message.type" [dismissible]="false">
    {{ message.text }}
  </ngb-alert>
</p>

<form  (ngSubmit)="onSubmit()" #userdataForm="ngForm">
   <div class="form-group">
     	<label for="dienststelle" >Dienststelle</label> <input class="form-control" type="text" id="dienststelle" name="dienststelle" required [(ngModel)]="dienststelle" name="dienststelle"> 
	</div>
  <div class="form-group">
    	<label for="personalNummer">Personalnummer</label> <input class="form-control" type="text" id="personalNummer" name="personalNummer" required [(ngModel)]="personalNummer" name="personalNummer">  
    </div>
  <button type="submit" class="btn btn-success" [disabled]="!userdataForm.form.valid">Submit</button>  
	
 </form>

<div *ngIf="showData">
<br><br>
<div><strong>Personalnummer:</strong> {{user.personalNumber}}</div>
<div><strong>Benutzername: </strong>{{user.username}}</div>
<div><strong>Email:</strong> {{user.email}}</div>
<div><strong>Telefon: </strong>{{user.telefon}}</div>
<div><strong>Strasse:</strong> {{user.street}}</div>
<div><strong>PLZ:</strong> {{user.zipcode}}</div>
<div><strong>Stadt:</strong> {{user.town}}</div>
</div>