<p *ngIf="message !== undefined">
  <ngb-alert [type]="message.type" [dismissible]="false">
    {{ message.text }}
  </ngb-alert>
</p>

<form  (ngSubmit)="onSubmit()" #userdataForm="ngForm">
  	<div>
    	<label>Personalnummer:  <input type="text" id="personalNummer" name="personalNummer" required [(ngModel)]="personalNummer" name="personalNummer"> </label> 
    	<button type="submit" class="btn btn-success" [disabled]="!userdataForm.form.valid">Submit</button>  
	</div>
 </form>

<div *ngIf="showData">
<div><strong>Personalnummer:</strong> {{user.personalNumber}}</div>
<div><strong>Benutzername: </strong>{{user.username}}</div>
<div><strong>Email:</strong> {{user.email}}</div>
<div><strong>Telefon: </strong>{{user.telefon}}</div>
<div><strong>Strasse:</strong> {{user.street}}</div>
<div><strong>PLZ:</strong> {{user.zipcode}}</div>
<div><strong>Stadt:</strong> {{user.town}}</div>
</div>